.carousel-cards {
  height: 48vh;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-card {
  width: 50%;
  height: 45%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.imgBox {
  width: 15%;
  height: auto;
  /* background-color: green; */
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 1px 1px 5px black;

  display: flex;
  align-items: center;
  justify-content: center;
}
#card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.nameBox {
  width: 20%;
  height: auto;
  /* background-color: lime; */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-content: space-evenly;
}

.nameBox #type {
  font-size: 0.7rem;
  color: rgb(119, 118, 118);
}

.text-card {
  width: 50%;
  height: 45%;
  /* background-color: rgb(227, 227, 124);  */
  font-family: "Metal", cursive;
  font-size: 1.7rem;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
 
}
#text-card-text{
  height: 100%;
  width: 100%;
  /* background-color: brown; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
